@import "tailwindcss";
*{
    padding: 0;
    margin: 0;
    box-shadow: 0;
    box-sizing: 0;
}

.card {
  border-radius: 16px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

button {
  border-radius: 10px !important;
}

.table {
  border-radius: 10px;
  overflow: hidden;
}